<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Registration page</title>
  <link href="addvaccine.component.css" type="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="tab-content">
  <div id="signup">
    <h1>Enter Petiant Name And Contact no</h1>

    <form  #userform1="ngForm"  >


      <div class="button">
        <input type="submit" name="Save" value="">
      </div>
    </form>
  </div>

</div>
</body>
</html>
